@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220; 
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

table {
  table-layout: fixed ;
  width: 20% ;
  border-collapse: collapse ;
  border: 1px black solid ;
}
table tr {
    width: 50% ;
    border: 1px black solid ;
    padding: 10px ;
}
table td {
  width: 50% ;
  border: 1px black solid ;
  padding: 10px ;
}
table caption {
  font-style: italic ;
}
