@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

/*  --foreground-rgb: 0, 0, 0; */
/*  --background-start-rgb: 214, 219, 220; */
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
/*    --foreground-rgb: 255, 255, 255; */
/*    --background-start-rgb: 0, 0, 0; */
    --background-end-rgb: 0, 0, 0;
  }
}

body {
    color: black;
    font-family: Candara, sans-serif;
/*    background: white; */
/*    color: rgb(var(--foreground-rgb)); */
/*  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    */
}
/*
.cropped {
    width: 30px;
    height: 30px;
}
*/

.myTextBox {
  width: 100%; /* Set the width of the textarea */
  height: 150px; /* Set the height of the textarea */
  border: 3px double #000000; /* Set the border style and color */
  padding: 10px; /* Add padding inside the textarea */
  font-size: 16px; /* Set the font size */
  box-sizing: border-box; /* Include padding and border in the total width/height */
  resize: vertical; /* Allow vertical resizing */
}

.myTextBox:focus {
  outline: none; /* Remove the default focus outline */
  border-color: #00F; /* Change border color on focus */
}

.cropped-ofp { 
    width: 30px;
    height: 30px;
    object-position: 25% 25%;
}

.divider {
    width: 100%;
    background-color: black;
    height: 1px;
}

.box-container {
    border-radius: 8px;
    border: 1px solid black;
    padding: 1px;
    transition: color 0.3s;
}

.main-component {
    padding: 50px;
    margin: center;

}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-table {
  width: 310px; /* this will need to change to accomodate for the new size once fully implemented */
  border: 1px black solid ;
  justify-content: center;
  align-items: center;
}


.side-table caption {
  font-style: italic ;
}

table {
  table-layout: fixed ;
  width: 20% ;
  border-collapse: collapse ;
  border: 1px black solid ;
}
table tr {
    width: 50% ;
    border: 1px black solid ;
    padding: 10px ;
}
table td {
  width: 50% ;
  border: 1px black solid ;
  padding: 10px ;
}
table caption {
  font-style: italic ;
}

table {
  table-layout: fixed ;
  width: 20% ;
  border-collapse: collapse ;
  border: 1px black solid ;
}
table tr {
    width: 50% ;
    border: 1px black solid ;
    padding: 10px ;
}
table td {
  width: 50% ;
  border: 1px black solid ;
  padding: 10px ;
}
table caption {
  font-style: italic ;
}
